* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header.flex1{
  width: 100%;
  background-color: #db7093;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.flex1 > :first-child {
  margin-right: auto;
}

.first{
  background-color: #ffb6c1;
  margin: 0 10px;
  height: 70px;
  flex-basis: 140px;
}

main.flex2{
  display: flex;
  justify-content:center;
}


.second1{
  width: 300px;
  background-color:#d2b48c;
}

.second2{
  max-width:700px;
  background-color:#008080;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  flex-grow: 1;
  justify-content:center;
}

.box{
  flex-basis: 200px;
  background-color:#66cdaa;
  height: 130px;
  margin: 10px;
}

footer.third{
  width: 100%;
  padding:20px;
  background-color:#6495ed;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.box2{
  margin: 10px;
  height: 40px;
  max-width: 600px;
  background-color:#b0e0e6;
  flex-basis:45%;
}